.education{
    width: 100%;
    height: 120vh;
    background-color: #f7f7f7;
    padding: 2vh 2vw;
}
.edu{
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6vh;
    padding: 2vh 2vw;
}
.places{
    width: 100%;
    height: 90%;
}
.school{
    width: 100%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5vh;
}
.college{
    width: 100%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5vh;
}
.data{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
}
.none{
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 390px) {
    .education{
        display: none;
    }
}